//
   Created by Дмитрий on 07.03.2017.
extends layout

block content
    block ontology
        h3= "Контент: " + item.title
        a(href="/get_item?item_name=" + item.name) Описание контента
        div.ontology
        h4="Онтология :" + ontology_status
        //p= ontology
        //- console.log(ontology);
        - function parseOntologyNode(node) {
            p= "Раздел: " + node.name
            p= "Описание: " + node.description
            //TODO форма для добавления связи.  В будущем переработать
            form(action='/add_link_for_item/', name="add_source_form", method="post")
                input(type="hidden", name="item_name", value = item.name)
                input(type="hidden", name="item_title", value = item.title)
                input(type="hidden", name="node_uri", value = node.uri)
                input(type="hidden", name="node_name", value = node.name)
                input(type="hidden", name="node_description", value = node.description)
                div.input
                    input(type="checkbox", name="unique_link", value=false)
                    span.label Уникальная связь между контентом и онтологией
                div.actions
                    input(type="submit", value="Привязать")
            p
                b Разделы:
            - var children = node.children;
            ul
                - children.forEach(function(child, i, children) {
                li
                    - parseOntologyNode(child);

                - });


        - }
        ul
            each node in ontology
                li
                    - parseOntologyNode(node);















