//
   Created by Дмитрий on 15.03.2017.
extends layout
//TODO необходимо придумать, как правильно выводить метаданные. Возможно придется добавить файлик, который будет переводить на русский поля метаданных
block content
    div.item_info
        h2= "Описание контента "
        h4= item_status
        p= "Название " + item.title
        p= "Тип контента " + item.type
        p= "URL источника " + item.source_url
        p= "Дата последнего обновления " + item.updated_at

    div.item_links
        h2= "Связи"
        a(href="/get_item/get_ontology?item_name=" + item.name + "&item_title=" + item.title + "&ontology_pararms=none") Добавить связь
        h4= item_links_status
        - var i = 0;
        each item_link in item_links
            - i++;
            p= i + "  " + item_link.node_name + ": " + item_link.node_description
            form(action='/delete_item_link/', name="delete_item_link_form", method="post")
                input(type="hidden", name="item_link_id", value = item_link._id)
                div.actions
                    input(type="submit", value="Удалить")

