//
   Created by Дмитрий on 15.03.2017.
extends layout

h3= title
block content
    div.source_info
        h3= source_status
        p= "Название источника: " + source.name
        p= "URL: " + source.url
        p= "Описание : " + source.description
        p= "Добавлен пользователем: " + source.added_by_user
        p= "Последнее обновление: " + source.updated_at
        p= "Состояние: " + source.parse_state

    div.items_info
        - var i = 0;
        h3= items_status
        each item in items
            - i++;
            p= i + "  " + item.title + ": " + item.type
            form(action='/get_item/', name="add_source_form", method="post")
                input(type="hidden", name="item_name", value = item.name)
                div.actions
                    input(type="submit", value="Изменить")





