//
   Created by Дмитрий on 01.03.2017.
extends layout

block content
    h3= Теги
    ol
        each tag in tags
            li
                p
                    b= tag.text
                p= "Описание: " + tag.description
                p= "Вершины онтологии: "
                ul
                    each node in tag.nodes
                        li
                            p= "Имя вершины: " + node.name
                            p= "Описание вершины: " + node.description
                a(href="/get_tag?tag_text=" + tag.text) Просмотреть
                form(action='/delete_tag/', name="delete_source_form", method="post")
                    input(type="hidden", name="tag_id", value = tag.id)
                    div.actions
                        input(type="submit", value="Удалить")



    block add_tag_form
        h4 Новый тег
        form(action='/create_tag/', name="add_source_form", method="post")
            div.input
                span.label Тэг
                br
                input(type="text", name="tag_text", placeholder="Тэг")
                br
            div.input
                span.label Описание тэга
                br
                input(type="text", name="description", placeholder="Описание тэга", value="Опишите источник")
                br
            div.actions
                input(type="submit", value="add")
